<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PainterMouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PainterMouse.Properties.Settings>
            <setting name="cursorSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="cursorColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="circleWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="cursorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clickAnimation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="leftClickColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="rightClickColor" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="penColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="penSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="penTransparency" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="spotlightSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="keyStrokesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enabledF9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enabledF10" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enabledF11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cursorTransparency" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>50</value>
            </setting>
        </PainterMouse.Properties.Settings>
    </userSettings>
</configuration>